.encabezado {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.titular {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 10rem;
}

.navegacion {
    display: none;
}

.dropdown {
    margin-right: 8rem;
    margin-top: 2rem;
    z-index: 5;
}

.dropdown-menu {
    z-index: 5;
}

.navegacion ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.navegacion ul li{
    list-style-type: none;
}

.navegacion ul li a{
    text-decoration: none;
}

#blanco {
    color: snow;
}

.texto {
    display: none;
}

.oradores {
    margin: 1rem;
}

.header-orador {
    text-align: center;
    margin: 1rem;
}

.contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contenedor-tarjetas div{
    width: 70vw;
}

.negro {
    color: black;
}

.informacion{
    display: flex;
    flex-direction: column;
}

.informacion div{
    width: 100%;
}

.informacion div img{
    width: 100%;
}

.charla-ignite {
    text-decoration: underline;
}

.contenedor-formulario {
    margin: auto;
    width: 70vw;
}

form input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #020E5D;
    margin-top: 1rem;
    margin-bottom: 0px;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-top: 1rem;
    gap: 1rem;
}

footer ul a {
    text-decoration: none;
    color: snow;
}

@media(min-width: 768px) {

    .navegacion {
        flex-grow: 0.7;
        display: block;
    }

    .dropdown {
        display: none;
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: right;
    }

    .texto {
        display: block;
    }

    .contenedor-tarjetas {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contenedor-tarjetas div{
        width: 25vw;
    }
    
    .informacion{
        display: flex;
        flex-direction: row;
    }

    footer{
        height: 100px;
    }

    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding-top: 2rem;
    }
}